@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Righteous&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/pin.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/phone.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/mail.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6vh;
    background-color: #8c6f5589;
    font-size: 20px;
    width: 100%;
    position: fixed;
    top: 0;
}

nav img {
    width: 60px;
    height: 60px;
}

ul {
    display: flex;
    gap: 40px;
    list-style: none;
    margin-right: 15%;
    margin-top: 1%;
}

nav a {
  
    position: relative;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 30px;
    transition: color .5s;
}

nav a:hover {
    color: rgb(255, 255, 255);
}

nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #4f351e;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s;
}

nav a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

body {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 26.4px;
    background-image: url(../img/bg.jpeg);
    background-size: 100% 95%;
    background-repeat: no-repeat;
    backdrop-filter: blur(8px);
    height: 110vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}   

.container {
    z-index: 12;
    max-width: 800px;
    width: 100%;
    border-radius: 12px;
    margin: 20px;
    margin-top: 20%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
}

.contact-infos{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.content .contact-infos p {
    max-width: 100%;
}
h2 {
    font-size: 40px;
    color: #4f351e;
    padding: 5px 0;
}

.content .image-box img {
    width: 100%;
}

.content .topic {
    font-size: 22px;
    font-weight: 500;
    color: #3f2803;
}

.content form {
    width: 40%;
    margin-right: 30px;
}

.content .input-box {
    height: 50px;
    width: 100%;
    margin: 16px 0;
    position: relative;
}

.content .input-box input {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    padding-left: 16px;
   background: linear-gradient(45deg, #8e612579 0%, #fcbd5e38 99%, #f1d17b35 50%);
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.content .input-box input:focus,
.content .input-box input:valid {
    border-color: #684601;
}

.content .input-box label {
    position: absolute;
    left: 18px;
    top: 50%;
    color: #f7f7f7;
    font-size: 15px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.content .input-box input:focus ~ label,
.content .input-box input:valid ~ label {
    top: 0;
    left: 12px;
    font-size: 20px;
    color: #3a2904;
}

.content .message-box {
    min-height: 100px;
    position: relative;
}

.content .message-box textarea {
    position: absolute;
    height: 100%;
    width: 100%;
    resize: none;
    background: linear-gradient(45deg, #8e612579 0%, #fcbd5e38 99%, #f1d17b35 50%);
    border: 2px solid transparent;
    border-radius: 6px;
    outline: none;
    padding: 10px;
    transition: all 0.3s ease;
}

.content .message-box textarea:focus {
    border-color: #684601;
}

.content .message-box label {
    position: absolute;
    font-size: 16px;
    color: #ffffff;
    left: 18px;
    top: 6px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.content .message-box textarea:focus ~ label {
    left: 12px;
    top: -10px;
    color: #3a2904;
    font-size: 20px;
}

.content .input-box input[type="submit"] {
    color: #fff;
    background: #7b4809a7;
    padding-left: 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.content .input-box input[type="submit"]:hover {
    background-color: #452a00;
}

@media (max-width: 1000px) {
    .content .image-box {
        max-width: 70%;
    }
    .content {
        padding: 10px 0;
    }
}

@media (max-width: 900px) {
    .content .image-box {
        display: none;
    }
    .content form {
        width: 100%;
        margin-left: 30px;
    }
}

   
.anfooter2 {
    background: linear-gradient(45deg, #8e612579 0%, #fcbd5e38 99%, #f1d17b35 50%);
    padding: 30px 30px 10px; 
    text-align: center;
    width: 100%;
    margin-top: 10%;
}

.ancontainer2 {
    padding-left: 15%;
    width: 100%;
    align-items: center;
}

.social-links2-2 {
    padding-right: 10%;
    display: flex;
    justify-content: center;
    gap: 5px; 
}

.social-links2-2 a {
    text-decoration: none;
    padding: 8px; 
    background-color: rgb(255, 255, 255);
    margin: 5px; 
    border-radius: 50%;
    transition: background-color 0.5s ease;
}

.social-links2-2 a img {
    width: 25px; 
    height: 20px;
}

.social-links2-2 a:hover {
    background-color: #463000;
}

.social-links2-2 a:hover img {
    filter: invert(1);
}

.navi-2 ul li a:hover {
    opacity: 1;
}

.bottom-2 {
    padding: 10px; 
    text-align: center;
    width: 100%;

}

.bottom-2 p {
    color: white;
    margin-left: 5%;
  
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
    font-size: 0.9em; 
}

@media (max-width: 700px) {
    .navi-2 ul {
        flex-direction: column;
    }

    .navi-2 ul li {
        width: 100%;
        text-align: center;
        margin: 5px 0; 
    }

    .social-links2-2 a {
        padding: 6px; 
        margin: 3px; 
    }

    .social-links2-2 a img {
        width: 18px; 
        height: 18px; 
    }
}